<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revise.project17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/button_bg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Test1" />
        <activity android:name=".Test2" />

        <activity android:name=".Year2018.T1_2018" />
        <activity android:name=".Year2018.T2_2018" />

        <activity android:name=".Year2017.T1_2017" />
        <activity android:name=".Year2017.T2_2017" />

        <activity android:name=".Year2018.Test1.Mat111.Mat111Q" />
        <activity android:name=".Year2018.Test1.Mat111.Mat111_score"/>
        <activity android:name=".Year2018.Test1.Chm111.Chm111Q" />
        <activity android:name=".Year2018.Test1.Chm111.Chm111_score"/>
        <activity android:name=".Year2018.Test1.Mat112.Mat112Q" />
        <activity android:name=".Year2018.Test1.Mat112.Mat112_score"/>
        <activity android:name=".Year2018.Test1.Phy111.Phy111Q" />
        <activity android:name=".Year2018.Test1.Phy112.Phy112Q" />
        <activity android:name=".Year2018.Test1.Phy112.Phy112_score"/>
        <activity android:name=".Year2018.Test1.Phy111.Phy111_score"/>
        <activity android:name=".Year2018.Test2.Mat111.Mat111Q" />
        <activity android:name=".Year2018.Test2.Mat111.Mat111_score"/>
        <activity android:name=".Year2018.Test2.Chm111.Chm111Q" />
        <activity android:name=".Year2018.Test2.Chm111.Chm111_score"/>
        <activity android:name=".Year2018.Test2.Mat112.Mat112Q" />
        <activity android:name=".Year2018.Test2.Mat112.Mat112_score"/>
        <activity android:name=".Year2018.Test2.Phy111.Phy111Q" />
        <activity android:name=".Year2018.Test2.Phy112.Phy112Q" />
        <activity android:name=".Year2018.Test2.Phy112.Phy112_score"/>
        <activity android:name=".Year2018.Test2.Phy111.Phy111_score"/>

        <activity android:name=".Year2017.Test1.Mat111.Mat111Q" />
        <activity android:name=".Year2017.Test1.Mat111.Mat111_score"/>
        <activity android:name=".Year2017.Test1.Chm111.Chm111Q" />
        <activity android:name=".Year2017.Test1.Chm111.Chm111_score"/>
        <activity android:name=".Year2017.Test1.Mat112.Mat112Q" />
        <activity android:name=".Year2017.Test1.Mat112.Mat112_score"/>
        <activity android:name=".Year2017.Test1.Phy111.Phy111Q" />
        <activity android:name=".Year2017.Test1.Phy112.Phy112Q" />
        <activity android:name=".Year2017.Test1.Phy112.Phy112_score"/>
        <activity android:name=".Year2017.Test1.Phy111.Phy111_score"/>
        <activity android:name=".Year2017.Test2.Mat111.Mat111Q" />
        <activity android:name=".Year2017.Test2.Mat111.Mat111_score"/>
        <activity android:name=".Year2017.Test2.Chm111.Chm111Q" />
        <activity android:name=".Year2017.Test2.Chm111.Chm111_score"/>
        <activity android:name=".Year2017.Test2.Mat112.Mat112Q" />
        <activity android:name=".Year2017.Test2.Mat112.Mat112_score"/>
        <activity android:name=".Year2017.Test2.Phy111.Phy111Q" />
        <activity android:name=".Year2017.Test2.Phy112.Phy112Q" />
        <activity android:name=".Year2017.Test2.Phy112.Phy112_score"/>
        <activity android:name=".Year2017.Test2.Phy111.Phy111_score">

        </activity>
    </application>

</manifest>